BasedOnStyle: Microsoft
BreakBeforeBraces: Allman
IndentWidth: 8
TabWidth: 4
AlignAfterOpenBracket: true
AlignOperands: "true"
AlignTrailingComments: "true"
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakBeforeMultilineStrings: "true"
Cpp11BracedListStyle: "true"
IncludeBlocks: Regroup
IndentCaseLabels: "true"
IndentPPDirectives: AfterHash
SortIncludes: "true"
SortUsingDeclarations: "true"
SpaceBeforeAssignmentOperators: "true"
SpaceBeforeCpp11BracedList: "true"
SpaceBeforeCtorInitializerColon: "true"
SpaceBeforeParens: Always
SpaceInEmptyParentheses: "false"
SpacesBeforeTrailingComments: "8"
SpacesInCStyleCastParentheses: "false"
UseTab: Never

ColumnLimit: 80

SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock
MaxEmptyLinesToKeep: 2
